@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <main class="login p-5">
        <div class="row justify-content-center">
            <div class="nav-logo m-5">
                <a href="/" class="brand-name"><img src="/images/MayMovies.png" alt="MayMovies" style="margin-left: 30px; margin-top: 3px;"></a>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center">
            <div class="col-md-6 text-center">
                <h3>Welcome!</h3>
                <h5 class="text-secondary">Please log in</h5>
                <div class=" input-group-container mt-5 mr-0 mb-5 p-1 bg-light rounded rounded-pill shadow-sm">
                    <div class="input-group">
                        <input type="text" placeholder="Username" name="username" class="form-control border-0 bg-light">
                    </div>
                </div>
                <div class=" input-group-container mr-0 mb-5 p-1 bg-light rounded rounded-pill shadow-sm">
                    <div class="input-group">
                        <input type="text" placeholder="Password" name="password" class="form-control border-0 bg-light">
                    </div>
                </div>
                <div class="login-button-container p-1 rounded rounded-pill text-center">
                    <button id="login-btn" type="submit" class="btn btn-link text-primary font-weight-bold" style="text-decoration: none;">log in</button>
                </div>
                <div class="d-inline-flex m-4 justify-content-center">
                    <div class="otherOpt-button-container mr-4 rounded rounded-pill text-center">
                        <button id="opt-btn" type="submit" class="btn btn-link text-dark font-weight-bold" style="text-decoration: none; font-size: 15px;">New Account</button>
                    </div>
                    <div class="otherOpt-button-container rounded rounded-pill text-center">
                        <button id="opt-btn" type="submit" class="btn btn-link text-dark font-weight-bold" style="text-decoration: none; font-size: 15px;">Forgot Password</button>
                    </div>
                </div>
            </div>
        </div>
    </main>