@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<header class="main-header-navbar d-flex flex-row shadow-sm sticky-top">
    <div class="col-md-3">
        <div class="nav-logo m-3">
            <a href="/" class="brand-name"><img src="/images/MayMovies.png" alt="MayMovies" style="margin-left: 30px; margin-top: 3px;"></a>
        </div>
    </div>

    <div class="d-flex col-md-4">
        <div class="main-topnavlinks p-3 m-3">
            <a href="/home/BrowseMovies">Browse Movies</a>
            <a class="active" href="#home">Home</a>
        </div>
    </div>
    <div class="col-md-5">
        <form asp-action="SearchMovies" method="post" asp-controller="home" enctype="multipart/form-data">
            <div class=" input-group-container p-1 bg-light rounded rounded-pill shadow-sm">
                <div class="input-group">
                    <input name="searchText" type="text" id="searchText" placeholder="Search for a movie or an actor/actress..." class="form-control border-0">
                    <div class="input-group-append">
                        <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</header>

<main>
    <div class="row justify-content-center shadow p-5 m-0" style="background-color: #0909118f;">
        <img class="rounded-circle m-3" src="" alt="" width="100" height="100">
        <div class="">
            <h3 class="text-light">Actor's name</h3>
            <h5 class="text-primary">number of movies</h5>
        </div>
    </div>
    <div class="row justify-content-center">

    </div>
    <div class="row p-5 justify-content-center m-5">
        <div class="col-md-4 col-sm-6 mb-2">
            <a href="#" class="product">
                <div class="pop-mov">
                    <img src="/images/81u1G1WDZ4L._SL1500_.jpg" alt="" width="250" height="300">
                </div>
                <div class="product__meta">
                    <p>Sci-Fi</p>
                    <span class="fa fa-star" style="color:rgb(31, 144, 236)"></span>
                    <span class="fa fa-star" style="color:rgb(31, 144, 236)"></span>
                    <span class="fa fa-star" style="color:rgb(31, 144, 236)"></span>
                    <span class="fa fa-star" style="color:rgb(31, 144, 236)"></span>
                    <span class="fa fa-star-o" style="color:rgb(31, 144, 236)"></span>
                    <p class="big">The Martian (2016)</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-2">
            <a href="#" class="product">
                <div class="pop-mov">
                    <img src="/images/page-1_img08.jpg" alt="" width="250" height="300">
                </div>
                <div class="product__meta">
                    <p>Sci-Fi</p>
                    <span class="fa fa-star" style="color:rgb(31, 144, 236)"></span>
                    <span class="fa fa-star" style="color:rgb(31, 144, 236)"></span>
                    <span class="fa fa-star" style="color:rgb(31, 144, 236)"></span>
                    <span class="fa fa-star" style="color:rgb(31, 144, 236)"></span>
                    <span class="fa fa-star-o" style="color:rgb(31, 144, 236)"></span>
                    <p class="big">The Martian (2016)</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-2">
            <a href="#" class="product">
                <div class="pop-mov">
                    <img src="/images/page-1_img08.jpg" alt="" width="250" height="300">
                </div>
                <div class="product__meta">
                    <p>Sci-Fi</p>
                    <span class="fa fa-star" style="color:rgb(31, 144, 236)"></span>
                    <span class="fa fa-star" style="color:rgb(31, 144, 236)"></span>
                    <span class="fa fa-star" style="color:rgb(31, 144, 236)"></span>
                    <span class="fa fa-star" style="color:rgb(31, 144, 236)"></span>
                    <span class="fa fa-star-o" style="color:rgb(31, 144, 236)"></span>
                    <p class="big">The Martian (2016)</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-2">
            <a href="#" class="product">
                <div class="pop-mov">
                    <img src="/images/page-1_img08.jpg" alt="" width="250" height="300">
                </div>
                <div class="product__meta">
                    <p>Sci-Fi</p>
                    <span class="fa fa-star" style="color:rgb(31, 144, 236)"></span>
                    <span class="fa fa-star" style="color:rgb(31, 144, 236)"></span>
                    <span class="fa fa-star" style="color:rgb(31, 144, 236)"></span>
                    <span class="fa fa-star" style="color:rgb(31, 144, 236)"></span>
                    <span class="fa fa-star-o" style="color:rgb(31, 144, 236)"></span>
                    <p class="big">The Martian (2016)</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-2">
            <a href="#" class="product">
                <div class="pop-mov">
                    <img src="/images/page-1_img08.jpg" alt="" width="250" height="300">
                </div>
                <div class="product__meta">
                    <p>Sci-Fi</p>
                    <span class="fa fa-star" style="color:rgb(31, 144, 236)"></span>
                    <span class="fa fa-star" style="color:rgb(31, 144, 236)"></span>
                    <span class="fa fa-star" style="color:rgb(31, 144, 236)"></span>
                    <span class="fa fa-star" style="color:rgb(31, 144, 236)"></span>
                    <span class="fa fa-star-o" style="color:rgb(31, 144, 236)"></span>
                    <p class="big">The Martian (2016)</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-2">
            <a href="#" class="product">
                <div class="pop-mov">
                    <img src="/images/page-1_img08.jpg" alt="" width="250" height="300">
                </div>
                <div class="product__meta">
                    <p>Sci-Fi</p>
                    <span class="fa fa-star" style="color:rgb(31, 144, 236)"></span>
                    <span class="fa fa-star" style="color:rgb(31, 144, 236)"></span>
                    <span class="fa fa-star" style="color:rgb(31, 144, 236)"></span>
                    <span class="fa fa-star" style="color:rgb(31, 144, 236)"></span>
                    <span class="fa fa-star-o" style="color:rgb(31, 144, 236)"></span>
                    <p class="big">The Martian (2016)</p>
                </div>
            </a>
        </div>
    </div>
</main>


<!-- |||||||||||| FOOTER ||||||||||||| -->
<footer class="main-footer-navbar ">
    <section class="info">
        <div class="container">
            <div class="row row-sm-justify text-sm-left">
                <!-- Brand -->
                <a href="/" class="brand-name"><img src="/images/MayMovies.png" alt="MayMovies" style="margin-left: -8px;"></a>
                <!-- END Brand -->
            </div>

            <div class="row justify-content-center mt-4">
                <ul class="bottomnavlinks-list d-flex d-inline-flex">
                    <li><a class="font-weight-bold" href="#contact">Contact</a></li> |
                    <li><a class="font-weight-bold" href="#about">About</a></li> |
                    <li>
                        <a href="#facebook">
                            <div class="container" id="social-link">
                                <img src="/images/facebookicon.png" alt="Facebook" class="image img-fluid">
                            </div>
                        </a>
                    </li>
                    |
                    <li>
                        <a href="#twitter">
                            <div class="container" id="social-link">
                                <img src="/images/twittericon.png" alt="Twitter" class="image img-fluid">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Copyright -->
            <div class="row justify-content-center" style="margin-top: -30px; margin-bottom: -30px;">
                <p class="copyright">
                    MayMovies &copy;
                    <span id="copyright-year">2021</span>
                    All rights reserved.
                    <span class="rd-navbar--switch-to-desktop"></span>
                    <a href="#">Terms of use</a> |
                    <a href="#">Privacy Policy</a>
                    <!-- {%FOOTER_LINK} -->
                </p>
            </div>
            <!-- END Copyright -->
        </div>
    </section>
</footer>
